//colors
$blue: #006699;
$gray: #999999;
$black: #000000;
$white: #ffffff;

//fonts
$f-size:14px;

$link: #2980b9;
$visit:#95a5a6;
$hover:#9b59b6;
$active:#f1c40f;


//theme blue
$type:dotted;
$border-color:$blue;
$bg-color:#cccccc;

